// @use "../m3.scss";

#chord_div {
    display: flex;
    flex-direction: column;

    & > * {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

#pitch_div, #relative_sel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
    width: 100%;
}

#chord_div {
    flex: 1;
}
