@keyframes flash {
    0% {
        background: hsl(74, 32%, 32%);
    }
    100% {
        background: hsl(88, 38%, 15%);
    }
}

@keyframes flash_2 {
    0% {
        background: hsl(28, 67%, 44%);
    }
    100% {
        background: hsl(88, 38%, 15%);
    }
}

body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    border: 1px solid hsl(74, 32%, 32%);
    border-radius: 8px;
}

.inputs {
    flex: 2;
}

#start_stop_div {
    flex: 1;
}

#count_div {
    flex: 4;
}

@media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }
}
