@use "../palette.scss";

@keyframes flash {
    0% {
        background: palette.$on-tertiary;
    }
    100% {
        background: palette.$surface;
    }
}

@keyframes flash_2 {
    0% {
        background: palette.$on-secondary;
    }
    100% {
        background: palette.$surface;
    }
}

#controls_div, #beat_div {
    flex: 1;
}

#beat_div {
    border-bottom: 1px solid palette.$outline-variant;
}

#count_div {
    flex: 1;
    font-size: 2rem;
    overflow: auto;
    text-align: center;
}

#controls_div, #count_div {
    border: 1px solid palette.$outline;
    border-radius: 8px;
    overflow: auto;
}

@media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }
}
