@use "../m3.scss";

* {
    touch-action: pan-x pan-y;
}

#wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
}

#fretboard {
    margin: auto;
    display: grid;
    grid-template-columns: 4em repeat(var(--small-frets), 3em);
    gap: 12px 4px;
    justify-content: center;

    & > .head {
        margin-right: 8px;
        grid-column-start: 1;
    }

    & > * {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    & > button {
        height: 2em;
    }
}
