name: "Build and deploy page"

on: push

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build_and_deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    env:
      SASS_VERSION: 1.97.1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dart Sass
        run: |
            wget "https://github.com/sass/dart-sass/releases/download/$SASS_VERSION/dart-sass-$SASS_VERSION-linux-x64.tar.gz"
            tar -xzf "dart-sass-$SASS_VERSION-linux-x64.tar.gz"
      - name: Compile Scss files
        run: ./dart-sass/sass web:web
      - name: HTML/CSS/JS Minifier
        uses: docker://devatherock/minify-js:3.1.0
        with:
          add_suffix: false
          directory: web
      - name: Upload page
        uses: actions/upload-pages-artifact@v3
        with:
          path: web
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
