name: "Build and deploy page"

on: push

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build_and_deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: HTML/CSS/JS Minifier
        uses: docker://devatherock/minify-js:3.1.0
        with:
          add_suffix: false
          directory: web
      - name: Upload page
        uses: actions/upload-pages-artifact@v3
        with:
          path: web
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
