$white: white;

// https://colorpalette.pro/?color=oklch%2895%25+0.09+138%29&paletteType=tri&paletteStyle=square&colorFormat=oklch&effects=0%2C0%2C0%2C0
$l-green: oklch(95% 0.09 138);
$d-green: oklch(75% 0.085 258);
$l-blue:  oklch(75% 0.085 258);
$d-blue:  oklch(60% 0.063 258);
$l-pink:  oklch(70% 0.085 18);
$d-pink:  oklch(80% 0.063 18);

$green-1:  oklch(95% 0.09 138);
$green-2: oklch(91% 0.09 138);
$green-3: oklch(84% 0.09 138);
$green-4: oklch(74% 0.09 138);
$green-5: oklch(62% 0.09 138);
$green-6: oklch(50% 0.09 138);
$green-7: oklch(42% 0.09 138);
$green-8: oklch(38% 0.09 138);
$green-9: oklch(26% 0.09 138);
$green-10: oklch(16% 0.09 138);
$green-11: oklch(8% 0.09 138);
$green-12: oklch(2% 0.09 138);
