@use "colors.scss";
@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    accent-color: colors.$l-blue;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;

    background: colors.$green-9;
    color: colors.$white;
}

body {
    margin: 0;
    padding: 16px;
}

.inputs {
    display: grid;
    grid-template-columns: max-content auto;
    grid-auto-rows: minmax(2em, max-content);
    grid-gap: 4px 16px;
    align-items: center;
}

.inputs > input {
    margin-right: auto;
}

.inputs > button {
    grid-column-start: span 2;
}

button {
    cursor: pointer;
}

input[type=number], input[type=range], button {
    width: 100%;
    padding: 4px;
    background: transparent;
    color: inherit;
    border: 1px solid colors.$l-blue;
    border-radius: 4px;
}

input[type=number]:hover, button:hover {
    background: color.change(colors.$d-blue, $alpha: 0.25);
}

a {
    color: inherit;
}
