@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;

    background: hsl(88, 38%, 15%);
    color: hsl(52, 94%, 94%);
}

body {
    margin: 0;
    padding: 16px;
}

.inputs {
    display: grid;
    grid-template-columns: max-content auto;
    grid-auto-rows: max-content;
    grid-gap: 4px 16px;
}

.inputs input {
    margin-right: auto;
}

input[type=number], button {
    width: 100%;
    padding: 4px;
    background: transparent;
    color: inherit;
    border: 1px solid hsl(28, 67%, 44%);
    border-radius: 4px;
}

input[type=number]:hover, button:hover {
    background: hsla(28, 67%, 44%, .25);
    cursor: pointer;
}

a {
    color: inherit;
}
